<div data-bind="visible: hasItems()" class="block filter" id="layered-filter-block" data-collapsible="true">
    <div class="filter-current">
        <strong data-bind="html: getTitle()" class="block-subtitle filter-current-subtitle"></strong>
        <ol class="items" data-bind="foreach: items, visible: hasItems()">
            <li class="item" data-bind="css: {'active': active}">
                <a data-bind="attr: {href:url}">
                    <span data-bind="html: value"></span>
                </a>
            </li>
        </ol>
    </div>
</div>
